name: Swift
on: [push]
jobs:
  build:
    name: Swift ${{ matrix.swift }} on ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-15]
        # supported versions:
        # https://github.com/swift-actions/setup-swift/blob/main/src/swift-versions.ts
        swift: ["6.0.2"]
    runs-on: ${{ matrix.os }}
    steps:
      # https://github.com/swift-actions/setup-swift
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}
      - uses: actions/checkout@v4
      - name: Build
        run: swift build
